<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/board.css}">
</head>
<body>
    <!--header!-->
    <div id="header"></div>

    <a th:href="@{/post}">글쓰기</a>
    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 !-->
    <div>
        <span th:each="pageNum : ${pageList}" th:inline="text">
            <a th:href="@{'/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
        </span>
    </div>

    <!-- 검색 !-->
    <form action="/board/search" method="GET">
        <div>
            <input name="keyword" type="text" placholder="검색어를 입력하세요">
        </div>
        <button>검색</button>
    </form>
    <!--footer!-->
    <div id="footer"></div>
</body>
</html>
